<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
  </head>
  <body>
    <h1>Admin</h1>
    <p>Welcome to the admin page!</p>
    <form action="/api/admin/auth" method="post">
      <input type="password" name="token" placeholder="Token" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
