<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <p>Welcome to the home page of Wave Trivia!</p>
    <a href="/player">Player</a>
    <a href="/admin">Admin</a>
  </body>
</html>
