<!DOCTYPE html>
<html>
  <head>
    <title>Player</title>
  </head>
  <body>
    <h1>Player</h1>
    <p>Welcome to the player page!</p>
    <p>Please enter your name:</p>
    <form action="/api/player/auth" method="post">
      <input type="text" name="name" placeholder="Name" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
